<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Praia do Dentista" src="assets/dentista.jpg" />
    <ion-card-header>
      <ion-card-title>Praia do Dentista</ion-card-title>
      <ion-card-subtitle>Ilha da Gipoia - Angra dos Reis</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>A areia incrivelmente branca e fina forma ondas em meio à mata. O desenho da praia é um capricho da natureza, que intercala verde e branco em ondas que dão formato a esta que é uma das mais espetaculares praias da região. Localizada na Ilha da Gipóia, a Praia do Dentista é cenário que encanta a todos os visitantes. Com mar calmo, extremamente transparente e de cores intensas que variam de acordo o céu, essa é uma praia imperdível para quem está na Ilha Grande.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
