<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Praias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item href="/tabs/una">
    <ion-avatar >
      <img alt="Barra do Una" src="/assets/barra-una.jpg" />
    </ion-avatar>
    <ion-label>Barra do Una </ion-label>
  </ion-item>

  <ion-item href="/tabs/dentista">
    <ion-avatar >
      <img alt="Praia do Dentista" src="/assets/dentista.jpg" />
    </ion-avatar>
    <ion-label>Praia do Dentista </ion-label>
  </ion-item>

  <ion-item href="/tabs/campeche">
    <ion-avatar >
      <img alt="Ilha do Campeche" src="/assets/ilha-campeche.jpg" />
    </ion-avatar>
    <ion-label>Ilha do Campeche</ion-label>
  </ion-item>
</ion-list>
</ion-content>
