<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Seu Aplicativo de Praia</h1>

 <ion-card>
  <img src="assets/banner.gif" class="banner"/>
 </ion-card>
 
<h2>Planeje suas Férias em nosso App:</h2>
<swiper-container #swiperEx initial-slide="0" [pagination]="{type:'bullets', clickable:true}" [autoplay]="true">

  <swiper-slide>
    <div class="temp">
      <p class="p1"> Barra do Una</p>
      <p class="p2"> 27º</p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="temp">
      <p class="p1"> Praia do Dentista</p>
      <p class="p2"> 28º</p>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="temp">
      <p class="p1"> Ilha do Campeche</p>
      <p class="p2"> 23º</p>
    </div>
  </swiper-slide>
</swiper-container>
</ion-content>
