<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Ilha do Campeche" src="assets/ilha-campeche.jpg" />
    <ion-card-header>
      <ion-card-title>Ilha do Campechea</ion-card-title>
      <ion-card-subtitle>Florianópolis - SC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>A Ilha do Campeche é daqueles lugares lindos, que não dá pra esquecer de conhecer em Floripa! A ilha tem uma praia de águas cristalinas, tranquilas, ideais para relaxar. Além de ser conhecida por sua beleza, é também um patrimônio arqueológico, já que possui inscrições rupestres de grande valor. Para conhecer a ilha, é preciso ir até a Praia da Armação ou Praia do Campeche, onde se pega uma pequena embarcação que faz a travessia até o local. É um passeio lindo, com duração total de praticamente 5-6 horas. Para quem procura tranquilidade, sugerimos ir em um dia útil, quando a ilha recebe menos visitantes!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
