<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Praias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="Barra da Una" src="assets/barra-una.jpg" />
    <ion-card-header>
      <ion-card-title>Barra do Una</ion-card-title>
      <ion-card-subtitle>São Sebastião - SP</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>A Barra do Una tem características bem especiais que a diferem de todas as outras praias do litoral de São Sebastião. Com um lindo encontro do mar com o Rio Una, em trecho navegável, a Barra do Una atrai grande número de embarcações que movimentam a região. É o lugar ideal para quem curte passeios de lancha, barcos ou jetski. Vale até alugar um caiaque ou uma prancha de SUP para subir o Rio Una. A Barra do Una vai além e tem uma linda faixa de areia que separa o mar do rio e dá ainda mais charme ao lugar. É um ótimo passeio para o dia em São Sebastião. Quem estiver na Barra do Una poderá transitar facilmente entre o rio e o mar e aproveitar o melhor de cada um.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
